/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles for header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #06C167;
    padding: 10px 50px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Adjust according to your logo size */
    height: 50px; /* Adjust according to your logo size */
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #333; /* Change to a darker color that fits your design */
}

/* Styles for the main content section (add your styles here) */
main {
    padding: 20px;
}

/* Styles for the footer (add your styles here) */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
